<!DOCTYPE html>
<html>
<head>
	<title>ThroughLens</title>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<script
  	src="https://code.jquery.com/jquery-3.1.1.min.js"
  	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  	crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<style type="text/css">
		body{
			padding:60px;
		}
		.Site {
			  display: flex;
			  min-height: 100vh;
			  flex-direction: column;
			}
	</style>
</head>
<body class="Site">
<div class="ui large top fixed hidden menu">
	<div class = "ui container">
		<a href="/" class="active item">Home</a>
		<a href="/photos" class="item">Photos</a>
		<div class="right menu">
			<a href="/" class="item">Log In</a>
			<a href="/photos" class="item">Sign Up</a>
		</div>
	</div>
</div>
