<!DOCTYPE html>
<html>
<head>
	<title>ThroughLens</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<script
  	src="https://code.jquery.com/jquery-3.1.1.min.js"
  	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>

</head>
<body class="Site">
<div class="ui large top fixed hidden menu">
	<div class = "ui container">
		<a href="/" class="active item">Home</a>
		<a href="/photos" class="item">Photos</a>
		<div class="right menu">
			<%if(!currentUser){ %>
				<a href="/login" class="item">Log In</a>
				<a href="/register" class="item">Sign Up</a>
			<%}else{%>
				<a href="#" class="item"><strong><i><%=currentUser.username%></i></strong></a>
				<a href="/logout" class="item">Log Out</a>
			<%}%>
		</div>
	</div>
</div>
