<% include ../partials/header %>

<div class="ui grid">
	<div class= "eight wide column centered gird">
		<h1>Edit comment</h1>

		<form class= "ui form" action="/photos/<%=photo_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
		
		<div class="field">
			<label>Comment</label>
			<textarea name = "comment[text]"><%=comment.text%></textarea>
		</div>
		<button class="ui primary button" type = "submit">Submit</button>
	</form>
	</div>
	
</div>



<% include ../partials/footer%>