<% include ../partials/header %>

<div class="ui grid">
	<div class= "eight wide column centered gird">
		<h1>Add comment</h1>

		<form class= "ui form" action="/photos/<%=photo.id%>/comments" method="POST">
		<div class="field">
			<label>Author</label>
			<input type="text" name="comment[author]" placeholder="title">
		</div>
		<div class="field">
			<label>Comments</label>
			<textarea name = "comment[text]"></textarea>
		</div>
		<button class="ui primary button" type = "submit">Submit</button>
	</form>
	</div>
	
</div>



<% include ../partials/footer%>