<% include partials/header%>
<script type="text/javascript">
	$("#about").addClass("active");
</script>

<div class="ui segment">
	<h1>Contact me</h1>
	<p>
		Hi, I'm Marico. I'm currently a third year student in Computer Science at Usask, Canada.
	</p>
	<p>
		I love photography, and I built this web application to share my work. You're more than welcome to sign up in my page and leave your comment! You can also use this platform to upload photos and share your photo with me and others. 
	</p>		
	<p>
		If you're interested in any picture of mine, drop me a line anytime at <a href="mailto:yuyuan.liu@usask.ca">yuyuan.liu@usask.ca</a> to get in touch with me :)
	</p>
</div>

<% include partials/footer%>