<% include partials/header %>
<div class="ui grid">
	<div class= "six wide column centered gird">
		<h1>Log In</h1>

		<form class= "ui form" action="/login" method="POST">
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="username">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="password">
		</div>
	
		<button class="ui basic blue button" type = "submit">Submit</button>
		<br><br>
		<a href="/register">Don't have an account? Register Now!</a>
		
	</form>
	</div>
	
</div>



<% include partials/footer%>